[package]
name = "origin-render"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
wgpu = { workspace = true }
bytemuck = { workspace = true }
glam = { workspace = true }
