[package]
name = "origin-platform"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
wgpu = { workspace = true }
winit = { workspace = true }
