[package]
name = "origin-primitive"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[dependencies]
glam = { workspace = true }
bytemuck = { workspace = true }
